@model PheasantBench.Application.ViewModels.StatsDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to PheasantBench!</h1>
    <h2>Here, you can benchmark your CPU, discuss results, and view benchmark results.</h2>
    <h2>So far @Model.BenchmarkCount have been made</h2>
</div>
