@model PheasantBench.Application.Dtos.CreateForumThreadDto

@{
    ViewData["Title"] = "Create Forum Thread";
}

<h1 class="text-center mb-4">Create Forum Thread</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Thread" asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Name" class="col-form-label">Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-form-label">Description:</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @Html.AntiForgeryToken()
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
