@model PheasantBench.Application.Dtos.CreateForumThreadDto

@{
    ViewData["Title"] = "Create Forum Thread";
}

<h1>Create Forum Thread</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}

<form asp-controller="Thread" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="col-form-label">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-form-label">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>