@model PheasantBench.Application.ViewModels.ForumThreadDto

@{
    ViewData["Title"] = "Delete Forum Thread";
}

<h1>Delete Forum Thread</h1>

<h3>Are you sure you want to delete @Model.Name?</h3>

<form asp-controller="Thread" asp-action="Delete" method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>