<h1>Setup</h1>
<h3>Download the Benchmark File</h3>
<form asp-controller="Benchmark" asp-action="DownloadFile" method="get">
    <button type="submit" class="btn btn-primary">Download</button>
</form>
<h3>Unzip and run the exe</h3>