@model PheasantBench.Application.ViewModels.ForumMessageDto

@{
    ViewData["Title"] = "Delete Forum Thread";
}

<h1>Delete Forum Message</h1>

@if(Model is not null)
{
    <h3>Are you sure you want to delete @Model.MessageContent?</h3>
    <form asp-controller="ForumMessage" asp-action="Delete" method="post">
        @Html.Hidden("forumMessageId", Model.Id)
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
}